{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}

    <!-- Left hr around image-->
    <div class="row center valign-wrapper">
        <div class="col s3">
            <hr class="home-bar">
        </div>

        <!-- Centered image -->
        <div class="col s12">
            <!-- Image card -->
            <div style="font-size:5vw;text-align:center;" class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="materialboxed activator responsive-img" src="static/img/Avaren Precipice Cover.jpg">
                </div>
                <!-- Image card content -->
                <div class="card-content">
                    <span class="card-title activator">precipice ep</span>
                </div>
                <!-- Image card popup/reveal-->
                <div class="card-reveal">
                    <span class="card-title">
                        <p>my first ep</p>
                        <i class="material-icons right">close</i>
                        <p>Precipice EP was my first independent release, and a labor of love.
                            A few of the songs on the album have been used under my royalty-free license
                            in projects such as a couple HowStuffWorks videos [add links], a few games [add links],
                            and some very cool videos on YouTube [add links].
                        </p>
                        <p>
                            The whole album is <a href="https://soundcloud.com/avaren/sets/precipice-ep">available as a
                                free download on my Soundcloud</a>.
                        </p>
                        <p>
                            You can also listen to it
                            on <a href="https://open.spotify.com/album/4SpXG1AxgPS568AxPIqy7b?R0ZV">Spotify</a>,
                            <a href="https://music.apple.com/ca/album/precipice-ep/1167869962">Apple Music</a>,
                            and other streaming platforms.
                        </p>
                        <p>
                            Find links to the album and my content across the web on the <a href="/links">links</a>
                            page.
                        </p>
                    </span>
                </div>
            </div>
        </div>

        <!-- Right hr around image -->
        <div class="col s3">
            <hr class="home-bar">
        </div>
    </div>

    <br>

    <!-- Big bar across bottom of image -->
    <div class="row center valign-wrapper">
        <div class="col s12">
            <hr class="home-bar">
        </div>
    </div>

    <!-- Feeds below center image -->
    <div class="row center valign-wrapper">
        <!-- Soundcloud player -->
        <div class="col s6">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/3305377&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>

        <!-- Twitter feed -->
        <div class="col s6">
            <a class="twitter-timeline" href="https://twitter.com/avarenmusic?ref_src=twsrc%5Etfw">Tweets by
                avarenmusic</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
</script>
{% endblock %}